td{
    width: 74px;
    height: 72px;
}

table, tr, td{
    border: 1px solid black;
}

table{
    border-collapse: collapse;
}

img{
    margin: auto;
}

h1, h2, h4{
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}